<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add the product</title>
  </head>
  <body>
    <form method="post" action="/add-product-process">
      Name:
      <input type="text" name="txt1" placeholder="Enter Name" required />
      Details:
      <input type="text" name="txt2" placeholder="Enter Details" required />
      Price:
      <input type="text" name="txt3" placeholder="Enter Price" required />
      <input type="submit" />
    </form>
  </body>
</html>
